{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <br>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for f in form %}
    <div class="form-group">
    {{f.label_tag}}{{f}}<small class="text-danger">{{f.errors|striptags}}</small><br>
    </div>
    {% endfor %}
    <small><a href="{% url 'app:password_reset' %}">Forot Password?</a></small><br>
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold"><small> New to EasyShop ? <a href="{% url 'app:customerregistration' %}" class="text-danger">Create an Account</a></small></div>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
    </form>
  </div>
 </div>
</div>
{% endblock main-content %}