{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h4 class="alert-heading">Well Done!!</h4>
    <p> An Email has been sent with instruction to reset your password.<b> Check Your Email!</b></p>
  </div>
 </div>
</div>
{% endblock main-content %}