{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row my-3">
 
  <div class="col-sm-6 offset-sm-3">
  <h3>Reset Password</h3>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for f in form %}
    <div class="form-group">
    {{f.label_tag}}{{f}}<small class="text-danger">{{f.errors|striptags}}</small><br>
    </div>
    {% endfor %}
     <input type="submit" class="btn btn-primary mt-4" value="save">
    <br>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
    </form>
  </div>
 </div>
</div>
{% endblock main-content %}